body {
    background-color: grey;
    font-family: Georgia, serif;
    
}
div-roles {
    border: 2px solid #333; 
    padding: 15px; 
    margin: 10px 0; 
    border-radius: 8px;
    background-color: #f0f0f0;
}
p {
    font-size: 12px; 
    font-weight: bold;
}

.remaining-player {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    justify-content: center;

}
.premierJoueur{
    font-style: italic;
    color : red;
    animation: blink 1s infinite;
}