body {
    background-color: grey;
    font-family: Copperplate, serif;
    align-items: center;
    align-content: center;
    text-align: center;
    
}
div-roles {
    border: 2px solid #333; 
    padding: 15px; 
    margin: 10px 0; 
    border-radius: 8px;
    background-color: #f0f0f0;
}
p {
    font-size: 12px; 
    font-weight: bold;
}
h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    text-shadow: 2px 2px 4px #000000;
}
h2 {
    text-align: center;
    color: white;
    font-size: 28px;
    text-shadow: 2px 2px 4px #000000;
}
h3 {
    text-align: center;
    color: white;
    font-size: 22px;
    text-shadow: 2px 2px 4px #000000;
}

.displayALL{
    position: fixed;
    text-align: justify;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.remaining-player {
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 3px 3px 10px #000000;
-moz-box-shadow: 3px 3px 10px #000000;
box-shadow: 3px 3px 10px #000000;
background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.0, #FFFFFF));
border: 0px solid #000000;
background-color: #A52A2A;
padding: 12px;

font-size: 12pt;
color: #888888;
text-align: center;

}
.premierJoueur{
    font-style: italic;
    color : red;
    animation: blink 1s infinite;
}

.eliminated-player {
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    justify-content: center;
}
.recap-player {
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
-webkit-box-shadow: 3px 3px 10px #000000;
-moz-box-shadow: 3px 3px 10px #000000;
box-shadow: 3px 3px 10px #000000;
background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.0, #FFFFFF));
border: 0px solid #000000;
background-color: #A52A2A;
padding: 12px;

font-size: 12pt;
color: #888888;
text-align: center;;
}
